@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('ProximaNova-Semibold.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('/assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('/assets/fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('ProximaNova-Semibold.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('/assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('/assets/fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Proxima Nova Lt', Arial, sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--white-color);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #282B38;
  --block-color: #363a4d;
  --ui-color: #E58D35;
  --extra-ui-color: #89C249;
  --white-color: #FFFFFF;
}

.caret {
  position: relative;
  display: block;
  width: 42px;
  height: 2px;
  margin-left: 10px;
  margin-top: 24px;
  transform: rotate(-90deg);
}

.caret::before,
.caret::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 30.5px;
  height: 100%;
  background-color: var(--white-color);
}

.caret::before {
  left: 0;
  transform-origin: left center;
  transform: rotate(45deg);
}

.caret::after {
  right: 0;
  transform-origin: right center;
  transform: rotate(-45deg);
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  z-index: 101;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  font-size: 1rem;
}

.filler {
  height: 0;

}

.sync {
  height: 103.39px;
  width: 100%;

}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  max-width: 94%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header__nav {
  max-width: 100%;
  width: 602px;
}

.menu__item {
  transition: text-decoration 0.3s;
}

.menu__item:hover {
  text-decoration: underline;
}

.menu__link {
  text-decoration: none;
  color: var(--white-color);
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 11px;
}

.header__btn {
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 27px;
  padding-right: 27px;
  font-size: 1rem;
  border-radius: 90px;
  background-color: var(--ui-color);
  border: 2px solid;
  border-color: var(--ui-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 0.3s ease-out, transform 0.3s;
}

.header__btn:hover {
  background-color: transparent;
  transform: scale(1.05);
}

.header__btn:active {
  box-shadow: 0px 0px 5px 7px rgba(229, 141, 53, 1);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 90px;
  background-color: var(--ui-color);
  border: 2px solid;
  border-color: var(--ui-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
  height: 68px;
  padding-left: 30px;
  padding-right: 22px;
}

.btn svg {
  margin-left: 40px;
}


.btn:hover {
  background-color: transparent;
  transform: scale(1.05);
}

.btn:active {
  box-shadow: 0px 0px 5px 7px rgba(229, 141, 53, 1);
}


h2 {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.section-config {
  margin: 0 auto;
  background-color: var(--block-color);
  border-radius: 20px;
  max-width: 96%;
  width: 1820px;
}

.slide-n1 {
  background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%), url(/assets/images/sliderimg1.jpg);
  background-size: cover;
  height: 700px;
  max-height: 100%;
  width: 25%;
}

.slide-n2 {
  background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%), url(/assets/images/sliderimg2.jpg);
  background-size: cover;
  height: 700px;
  max-height: 100%;
  width: 25%;
}

.slide-n3 {
  background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%), url(/assets/images/sliderimg3.jpg);
  background-size: cover;
  height: 700px;
  max-height: 100%;
  width: 25%;
}

.slide-n4 {
  background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%), url(/assets/images/sliderimg4.jpg);
  background-size: cover;
  height: 700px;
  max-height: 100%;
  width: 25%;
}

.slider-item {
  display: flex;
  align-items: center;
}

.slider {
  max-width: 96%;
  width: 1820px;
  max-height: 100%;
  height: 700px;
  margin-bottom: 40px;
}

.slider__container {
  filter: drop-shadow(5px 15px 40px rgba(11, 24, 97, 0.32));
  border-radius: 20px;
  width: 1820px;
  max-width: 100%;
  height: 700px;
  max-height: 100%;
  overflow: hidden;
}

.slider__content {
  display: flex;
  width: 400%;
  height: 100%;
  overflow: hidden;
  transition: transform .6s cubic-bezier(.77, 0, .175, 1);
}

.slider-text {
  width: 1180px;
  max-width: 94%;
  margin: 0 auto;
}

.slider-article {
  display: flex;
  flex-direction: column;
}

.slider-article h1 {
  text-align: left;
}

.slider-article p {
  text-align: left;
}

.slider-article__heading {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.slider-article__text {
  font-weight: 400;
  font-size: 1.5rem;
}

.slider__btn-cont {
  margin-right: 10px;
  width: 293px;
}

.slider-article__btn {
  width: 293px;
  text-decoration: none;
}

.slider__control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 47%;
  width: 90%;
  height: 50px;
}

.slc {
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.slprev span {
  transform: rotate(90deg);
}

.slider__dot-control {
  bottom: 0;
  position: absolute;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.dot {
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 43px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 90px;
  border: 2px solid #FFFFFF;
  opacity: 0.9;
  transition: all 0.s;
}

.dot:hover {
  transform: scale(1.1);
}

.dotcontr-active {
  background-color: #fff;
}

.calculator {
  display: flex;
  justify-content: center;
}

.calculator__container {
  display: flex;
  justify-content: center;
  width: 1180px;
  max-width: 94%;
}

.calculator__img {
  position: relative;
  height: 917px;
  width: 554px;
}

.calculator__img-cont {
  position: absolute;
  left: -7%;
}

.calculator__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 62px;
  width: 626px;
  max-width: 100%;
}

.calculator__heading h2 {
  text-align: left;
}

.calculator__divider-mob {
  display: none;
  width: 85px;
  height: 2px;
  background-color: var(--extra-ui-color);
}

.calculator__divider {
  position: relative;
  width: 85px;
  height: 2px;
  margin-top: 30px;
}

.calculator__divider::before,
.calculator__divider::after {
  position: absolute;
  content: '';
  background-color: var(--extra-ui-color);
  height: 2px;
  width: 72px;
  top: 0;
  margin-top: 18px;
  margin-left: 18px;
}

.calculator__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--block-color);
  border-radius: 20px;
  width: 626px;
  max-width: 100%;
  min-height: 597px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  padding-bottom: 41px;
  filter: drop-shadow(5px 15px 40px rgba(11, 24, 97, 0.32));
}

.step3 {
  height: 597px;
  width: 626px;
  max-width: 100%;
}

.step3__p1 {
  margin: 0;
  font-size: 2rem;
  margin-top: 34px;
  margin-bottom: 10px;
}

.step3__p2 {
  margin: 0;
  font-size: 1.125rem;
  margin-bottom: 37px;
}

.step3__p3 {
  margin: 0;
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.step3__ul {
  margin: 0;
}

.step-hide {
  display: none;
  opacity: 0;
}

.step3__ul li {
  margin-bottom: 6px;
}

.circle__cont {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 262px;
  top: -5%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--bg-color);
  border: 2px solid var(--block-color);
  border-radius: 90px;
  font-size: 1.5rem;
  color: #BFBFBF;
}

.circle-color {
  background-color: var(--extra-ui-color);
  border: var(--extra-ui-color);
  color: var(--white-color);
}

.input__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.9375rem;
}

.input__cont p {
  margin: 0;
}

.step2__cont {
  min-height: 374px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.calculator__paragraph {
  margin: 0;
}

.calculator__form {
  height: 56px;
  width: 248px;
  background-color: var(--white-color);
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 6px;
  transition: transform 0.2s;
}

*::placeholder {
  opacity: 0.6;
}

.calculator__form:focus {
  outline: none;
}

.calculator__form:hover {
  transform: scale(1.05);
}

.naming {
  width: 100%;
}

.form-name {
  width: 100%;
}

.form-tel {
  margin-top: 20px;
}

.form-email {
  margin-top: 20px;
}

.form-comment {
  width: 100%;
  margin-top: 20px;
}


.comment {
  width: 100%;
  height: 147px;
  resize: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-top: 6px;
  border: none;
  transition: transform 0.2s;
}

.comment:hover {
  transform: scale(1.03);
}

.comment:focus {
  outline: none;
}

.step2__btn {
  height: 68px !important;
  width: 138px !important;
}

.spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 486px;
}

.form__btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 68px;
}

.weight {
  margin-top: 20px;
}

.capacity {
  margin-top: 20px;
}

.capacity__text {
  display: flex;
  justify-content: space-between;
}

.capacity__btn {
  border: none;
  background-color: transparent;
  color: var(--ui-color);
  cursor: pointer;
  width: 90px !important;
}

.capacity__btn:hover {
  text-decoration: underline;
}

.insurence {
  width: 248px;
  margin-top: 39px;
}

.insurence__form:nth-child(2) {
  margin-top: 15px;
}

.insurence__form {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.insurence__paragraph {
  margin-left: 9px !important;
}

.insurence__cbx {
  display: none;
}

.insurence__lable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: var(--white-color);
  transition: transform 0.2s;
}

.insurence__lable:hover {
  transform: scale(1.1);
}

.cbx-svg1 {
  opacity: 0;
  transition: opacity 0.3s;
}

.cbx-svg2 {
  opacity: 0;
  transition: opacity 0.3s;
}

#galka1:checked~.cbx-svg1 {
  opacity: 1;
}

#galka2:checked~.cbx-svg2 {
  opacity: 1;
}

.code {
  margin-top: 20px;
}

.img-input {
  width: 100%;
  margin-bottom: 30px;
}

.img-input__text {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.img-input__btn {
  border: none;
  background-color: transparent;
  color: #FF0000;
  cursor: pointer;
  width: 130px !important;
}

.img-input__btn:hover {
  text-decoration: underline;
}

.img-input__form {
  display: none;
}

.img-input__lable {
  text-align: center;
  width: 525px;
  max-width: 100%;
  height: 43px;
  border: 1px dashed rgba(255, 255, 255, 0.26);
  border-radius: 10px;
  padding-top: 12px;
  margin-top: 14px;
  cursor: pointer;
  transition: all 0.15s;
}

.img-input__lable:hover {
  border: 1px dashed var(--white-color);
}


.benefit__container__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #89C249;
  border-radius: 90px;
  width: 93px;
  height: 93px;

}

.benefit__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.benefit__heading__text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.benefit__divider {
  background-color: var(--ui-color);
  height: 2px;
  max-width: 85px;
  width: 100%;
  margin-top: 19px;
}

.benefit__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 90px;
  border: 1px solid #6C7188;
  width: 113px;
  height: 113px;
  margin-left: 64px;
  margin-right: 64px;
}

.benefit__dots {
  display: none;
  justify-content: center;
  margin-top: 35px;
}

.benefit__slider {
  max-width: 100%;
}

.benefit__article-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 51px;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  width: 1180px;
  transition: transform 0.3s ease-in;
}

.benefit__article__text {
  text-align: center;
  margin-top: 22px;
  height: 66px;
}

.benefit__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 200px;
}

.benefit {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  padding-top: 90px;
  align-items: center;
  margin-bottom: 40px;
}

.delivery {
  position: relative;
}

.delivery__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delivery__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delivery__divider {
  background-color: var(--extra-ui-color);
  width: 85px;
  height: 2px;
}

.delivery__card {
  height: 482px;
  width: 360px;
  max-width: 100%;
  border-radius: 20px;
  background-color: var(--block-color);
  box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
}

.d-img {
  width: 100%;
  height: 229px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.d-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 20px;
  padding-left: 20px;
}

.delivery-slider {
  width: 1180px;
  max-width: 100%;
  overflow: hidden;
}

.delivery-slider input {
  display: none;
}

.delivery-slider__content {
  display: flex;
  justify-content: space-between;
  width: calc(100% + calc(100%/1.5));
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.dots-container {
  display: none;
  justify-content: center;
  margin-top: 35px;
}

.delivery__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1360px;
  max-width: 94%;
  height: 50px;
  top: 50%;
  left: 0;
  right: 20px;
  margin: 0 auto;
}

.delc {
  width: 80px;
  height: 50px;
  cursor: pointer;
}

.delivery-prev span {
  transform: rotate(90deg);
}

.d-card-price h5 {
  font-weight: 400;
}

.d-card-svgs {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 11px;
}

.d-card-svgs__cont svg {
  vertical-align: middle;
  margin-bottom: 4px;
}

.d-card-price {
  margin-top: 15px;
}

.big-number {
  font-size: 2.8125rem;
  font-weight: 700;
}

.d-card-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  margin-top: 18px;
}

.delivery__btn {
  padding: 0;
  height: 50px !important;
  width: 153px !important;
}

.d-card-img1 {
  background-image: url(/assets/images/truck-common.jpg);
  background-size: cover;
}

.d-card-img2 {
  background-image: url(/assets/images/truck-speed.jpg);
  background-size: cover;
}

.d-card-img3 {
  background-image: url(/assets/images/airplane\ .jpg);
  background-size: cover;
}

.d-card-img4 {
  background-image: url(/assets/images/trains.jpg);
  background-size: cover;
}

.d-card-img5 {
  background-image: url(/assets/images/sliderimg1.jpg);
  background-size: cover;
}



.service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.service__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 97px;
}

.service__heading h2 {
  margin-top: 0;
}

.service__heading__divider {
  width: 85px;
  height: 2px;
  background-color: var(--ui-color);
}

.service__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin-top: 49px;
  margin-bottom: 100px;
}

.service__slider {
  width: 1180px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.service__slider__content {
  display: flex;
  justify-content: space-between;
  width: calc(100% + calc(100%/3));
  transition: transform 0.3s ease-in;
}

.service__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1330px;
  max-width: 100%;
  height: 50px;
  top: 45%;
  left: 0;
  right: 20px;
  margin: 0 auto;
}

.serv-prev {
  cursor: pointer;
}

.serv-prev span {
  transform: rotate(90deg);
}

.serv-next {
  cursor: pointer;
}

.service-dots {
  display: none;
  justify-content: center;
  margin-top: 35px;
}

.card-conf {
  width: 360px;
  max-width: 100%;
  height: 482px;
  max-height: 100%;
  border-radius: 20px;
  padding-top: 250px;
  padding-left: 30px;
  padding-right: 23px;
}

h5 {
  font-size: 1.375rem;
  margin: 0;
}

.card-conf p {
  font-size: 0.9375rem;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 14px;
}

.service__btn {
  width: 153px;
  height: 50px;
  color: var(--white-color);
  font-size: 0.9375rem;
  background-color: transparent;
  border: 1px solid var(--ui-color);
  border-radius: 90px;
  cursor: pointer;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.service__btn:hover {
  transform: scale(1.05);
  background-color: var(--ui-color);
}

.service__btn:active {
  box-shadow: 0px 0px 5px 7px rgba(229, 141, 53, 1);
}

.service__card1 {
  background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(/assets/images/warehouse.jpg);
  background-size: cover;
}

.service__card2 {
  background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(/assets/images/deal.jpg);
  background-size: cover;
}

.service__card3 {
  background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(/assets/images/robot-system.jpg);
  background-size: cover;
}

.service__card4 {
  background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(/assets/images/DebitCard.jpg);
  background-size: cover;
}

.about {
  margin-top: 91px;
  margin-bottom: 81px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1180px;
  max-width: 96%;
}

.about__content {
  max-width: 100%;
}

.about__heading h2 {
  text-align: left;
}

.about__divider {
  width: 85px;
  height: 2px;
  background-color: var(--extra-ui-color);
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 44px;
  width: 555px;
  height: 260px;
  max-width: 100%;
  font-size: 1.125rem;
  font-weight: 400;
}

.about__text P {
  margin: 0;
  word-wrap: break-word;
}

.about__img {
  margin-left: 35px;
  position: relative;
  width: 550px;
  height: 550px;

}

.about__img-bg {
  position: absolute;
  width: 550px;
  height: 550px;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--block-color);
  border-radius: 900px;
}

.clip {
  position: absolute;
  left: 25px;
  top: -25px;
}

.pen {
  position: absolute;
  top: 110px;
  left: -80px;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.faq__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.faq__divider {
  width: 85px;
  height: 2px;
  background-color: var(--ui-color);
}

.faq__content {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  max-width: 94%;
  margin-top: 50px;
}

.question-list__content input {
  display: none;
}

.question-list {
  width: 716px;
  max-width: 94%;
  font-size: 1.125rem;
}

.question-list__content label {
  cursor: pointer;
}

.question-container {
  width: 100%;
  height: 64px;
  border: 1px solid #3A444E;
  border-radius: 10px;
  margin-bottom: 16px;
  transition: height 0.7s, background-color 0.7s, color 0.2s, border 0.2s;
}

.question-container:hover {
  border: 1px solid var(--white-color);
}

.question-text {
  display: flex;
  padding-left: 34px;
  padding-right: 20px;
  justify-content: space-between;
}

.hq {
  font-size: 1.0625rem;
  font-weight: 400;
  visibility: hidden;
  color: #282B38;
  margin-left: 34px;
  margin-bottom: 21px;
  margin-right: 99px;
}

.question-text p {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 21px;

}

.question-text svg {
  height: 27px;
  width: 27px;
  margin-top: 18.42px;
  fill: var(--white-color);
  transition: all 0.7s;
}

.quest-svg {
  margin-left: 10px;
}

#cbx1:checked~.qu-co1 {
  height: 152px;
  color: #282B38;
  font-weight: 700;
  background-color: var(--white-color);
}

#cbx1:checked~.qu-co1 svg {
  transform: rotate(-90deg);
  fill: var(--ui-color);
}

#cbx1:checked~.qu-co1 div:nth-child(2) {
  visibility: visible;
}

#cbx2:checked~.qu-co2 {
  height: 152px;
  color: #282B38;
  font-weight: 700;
  background-color: var(--white-color);
}

#cbx2:checked~.qu-co2 svg {
  transform: rotate(-90deg);
  fill: var(--ui-color);
}

#cbx2:checked~.qu-co2 div:nth-child(2) {
  visibility: visible;
}

#cbx3:checked~.qu-co3 {
  height: 152px;
  color: #282B38;
  font-weight: 700;
  background-color: var(--white-color);
}

#cbx3:checked~.qu-co3 svg {
  transform: rotate(-90deg);
  fill: var(--ui-color);
}

#cbx3:checked~.qu-co3 div:nth-child(2) {
  visibility: visible;
}

#cbx4:checked~.qu-co4 {
  height: 152px;
  color: #282B38;
  font-weight: 700;
  background-color: var(--white-color);
}

#cbx4:checked~.qu-co4 svg {
  transform: rotate(-90deg);
  fill: var(--ui-color);
}

#cbx4:checked~.qu-co4 div:nth-child(2) {
  visibility: visible;
}

#cbx5:checked~.qu-co5 {
  height: 152px;
  color: #282B38;
  font-weight: 700;
  background-color: var(--white-color);
}

#cbx5:checked~.qu-co5 svg {
  transform: rotate(-90deg);
  fill: var(--ui-color);
}

#cbx5:checked~.qu-co5 div:nth-child(2) {
  visibility: visible;
}

#cbx6:checked~.qu-co6 {
  height: 152px;
  color: #282B38;
  font-weight: 700;
  background-color: var(--white-color);
}

#cbx6:checked~.qu-co6 svg {
  transform: rotate(-90deg);
  fill: var(--ui-color);
}

#cbx6:checked~.qu-co6 div:nth-child(2) {
  visibility: visible;
}

.create-question {
  display: flex;
  flex-direction: column;
  max-width: 94%;
  padding: 40px;
  width: 390px;
  height: 555px;
  background-color: var(--block-color);
  border-radius: 20px;
  box-shadow: 5px 15px 40px rgba(11, 24, 97, 0.32);
}

.create-question__heading h4 {
  margin: 0;
  font-size: 1.5rem;
}

.create-question__heading p {
  font-size: 1.0625rem;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 23px;
}

.faq__input {
  height: 56px;
  width: 100%;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 19px;
  padding-bottom: 18px;
  margin-bottom: 14px;
  border: none;
  transition: transform 0.2s;
}

.faq__input:hover {
  transform: scale(1.03);
}

.faq__input:focus {
  outline: none;
}

.question-print {
  resize: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 26px;
  border: none;
  transition: transform 0.2s;
}

.question-print:hover {
  transform: scale(1.03);
}

.question-print:focus {
  outline: none;
}

.faq__btn {
  width: 100%;
}

.faq__btn svg {
  margin-left: 84px;
}

.cooperating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.0625rem;
  font-weight: 400;
  padding-top: 92px;
  padding-bottom: 100.25px;
  margin-bottom: 0;
}

.cooperating__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24.5px;
}

.cooperating__heading__text {
  margin-top: 0;
  text-align: center;
}

.cooperating__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 96%;
}

.cooperating__text p {
  height: auto;
  word-wrap: break-word;
}

/* .cooperating__text p {
  word-wrap: break-word;
}

.coop-txt1 p {
  margin-top: 0;
  margin-bottom: 75px;
}

.coop-txt2 {
  padding: 16px;
}

.coop-txt2 p {
  margin-bottom: 50px;
} */

.coop__btn {
  width: 243px;
  max-width: 100%;
  text-decoration: none;
}

.cooperating__divider {
  background-color: var(--extra-ui-color);
  width: 85px;
  height: 2px;
}

.cooperating__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 70px;
  width: 1180px;
  max-width: 96%;
  margin-top: 60px;
}

.cooperating__image {
  max-width: 555px;
  height: 406px;
  filter: drop-shadow(5px 15px 40px rgba(11, 24, 97, 0.32));
  box-shadow: 5px 15px 40px rgba(11, 24, 97, 0.32);
  border-radius: 20px;
}

.coop-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.footer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  height: 365px;
  margin-top: 70px;
}

.footer__divider {
  background-color: var(--ui-color);
  height: 2px;
  max-width: 96%;
  width: 1180px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 36px;
  margin-bottom: 50px;
  max-width: 96%;
  width: 1180px;
}

.footer__contacts {
  font-size: 0.875rem;
}

.footer__contacts__item {
  margin-top: 16px;
}

.footer__list__heading {
  font-size: 1.25rem;
  margin-bottom: 14px;
}

.footer__social {
  display: flex;
  margin-top: 20px;
}

.footer__social li {
  margin-right: 8px;
}

.footer__social__link {
  transition: transform 0.3s;
}

.footer__social__link:hover {
  transform: scale(1.1);
}

.footer__list__item {
  margin-top: 12px;
}

.footer__list__link {
  color: #85899C;
  transition: color 0.3s;
}

.footer__list__link:hover {
  color: var(--white-color);
}

.footer__tel {
  text-decoration: none;
  color: var(--white-color);
}

.footer__tel:hover {
  text-decoration: underline;
}

.footer__mail {
  color: var(--white-color);
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dialog-active {
  display: flex;
}

.dialog-overlay {
  position: absolute;
  z-index: 70;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
}

.capacity-dialog__content {
  position: relative;
  z-index: 91;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--block-color);
  height: 627px;
  border-radius: 20px;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 48px;
  padding-bottom: 41px;
  font-size: 0.9375rem;
}

.capacity-dialog__paragraph {
  margin: 0;
}

.capacity-dialog__input {
  margin-top: 6px;
  width: 248px;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 15px;
  border: none;
  border-radius: 10px;
  transition: transform 0.2s;
}

.capacity-dialog__input:focus {
  outline: none;
}

.capacity-dialog__input:hover {
  transform: scale(1.03);
}

.capacity-dialog__btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dialog-close {
  position: absolute;
  bottom: 94%;
  left: 90%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.dialog-close span {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
}

.dialog-close span::before,
.dialog-close span::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7E839A;
  content: '';
  transform-origin: center center;
}

.dialog-close span::before {
  transform: rotate(45deg);
}

.dialog-close span::after {
  transform: rotate(-45deg);
}

.dialog-close:hover span::before,
.dialog-close:hover span::after {
  background-color: var(--white-color);
}

.request-dialog__content {
  position: relative;
  z-index: 91;
  background-color: var(--block-color);
  border-radius: 20px;
  width: 626px;
  height: 657px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 41px;
}

.request-dialog__heading h3 {
  margin: 0;
}

.request-dialog__heading p {
  margin-top: 12px;
  margin-bottom: 27px;
}

.request-dialog__forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.request-dialog__forms p {
  margin: 0;
}

.request-dialog__forms textarea {
  margin-bottom: 12px;
  height: 99px;
}

.request-dialog-close {
  left: 94%;
}

.request-dialog__btn {
  margin-top: 35px;
  width: 253px;
}

.request-dialog__btn svg {
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  z-index: 100;
  visibility: hidden;
  display: flex;
  top: 9%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.mob-menu__cont {
  position: absolute;
  z-index: 93;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--block-color);
  width: 100%;
  height: 514px;
  padding-top: 40px;
  top: 1%;
  padding-bottom: 60px;
  opacity: 0;
  transition: transform 1s, opacity 0.8s;
  transform: translateY(-120%);
}

.mob-menu__cont-active {
  transform: translateY(0);
  opacity: 1;
}

.mob-menu__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  width: 30px;
  cursor: pointer;
  left: auto;
  right: 0;
}

.mb {
  display: none !important;
}

.mob-menu__btn-line {
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 309px;
}

.mob-menu__list li {
  text-align: center;
  cursor: pointer;
}

.mobile-menu-active {
  visibility: visible;
}

.fixer {
  position: fixed;
  width: 100%;
}



@media (max-width: 1350px) {
  .calculator__container {
    display: block;
    margin-bottom: 60px;
  }

  .calculator__img {
    display: none;
  }

  .delivery-slider {
    width: 760px;
  }

  .delivery-slider__content {
    width: 250%;
  }

  .delivery__controls {
    width: 900px;
  }

  .service__slider {
    width: 760px;
  }

  .service__slider__content {
    width: 200%;
  }

  .service__controls {
    width: 900px;
  }
}

@media (max-width: 1200px) {
  .about__text {
    width: 380px;
    height: 310px;
  }
}

@media (max-width: 1050px) {
  .header__nav {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .mob-menu__btn {
    display: flex;
  }

  .mob-menu {
    top: 6%;
  }
}

@media (max-width: 1000px) {
  .section-config {
    border-radius: 0;
    max-width: 100%;
  }

  .slider__container {
    border-radius: 0;
  }

  .benefit__article-container {
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
  }

  .about__container {
    flex-direction: column;
    align-items: center;
  }

  .about__text {
    width: 555px;
    height: 260px;
  }

  .about__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__text p {
    text-align: justify;
  }

  .cooperating__image {
    height: 300px;
    max-width: 400px;
  }
}

@media (max-width: 950px) {
  .faq__content {
    flex-direction: column;
    align-items: center;
  }

  .create-question {
    padding: 20px;
    height: auto;
  }

  .question-container {
    height: 80px;
  }

  .question-text {
    padding-left: 20px;

  }

  .create-question__heading h4 {
    text-align: center;
  }

  .create-question__heading p {
    text-align: center;
  }

  .footer__list:nth-child(4) {
    display: none;
  }

  .faq__btn {
    justify-content: space-between;
  }

  .faq__btn svg {
    margin-left: 40px;
  }

  .hq {
    margin-left: 20px;
    margin-right: 45px;
  }

  #cbx1:checked~.qu-co1 {
    height: 175px;
  }

  #cbx2:checked~.qu-co2 {
    height: 175px;
  }

  #cbx3:checked~.qu-co3 {
    height: 175px;
  }

  #cbx4:checked~.qu-co4 {
    height: 175px;
  }

  #cbx5:checked~.qu-co5 {
    height: 175px;
  }

  #cbx6:checked~.qu-co6 {
    height: 175px;
  }

  .mob-menu {
    top: 6%;
  }

}

@media (max-width: 900px) {
  .delivery-slider {
    width: 360px;
  }

  .delivery-slider__content {
    width: 500%;
  }

  .delivery__controls {
    width: 600px;
  }

  .dots-container {
    display: flex;
  }

  .service-dots {
    display: flex;
  }

  .service__slider {
    width: 360px;
  }

  .service__slider__content {
    width: 400%;
  }

  .service__controls {
    width: 600px;
  }
}

@media (max-width: 800px) {
  .cooperating__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .cooperating__text {
    width: 400px;
  }

  .ci1 {
    order: -10;
  }

  .mob-menu {
    top: 9%;
  }
}

@media (max-width: 700px) {
  .slide-n1 {
    height: 650px;
  }

  .slide-n2 {
    height: 650px;
  }

  .slide-n2 {
    height: 650px;
  }

  .slide-n2 {
    height: 650px;
  }

  .slider {
    height: 650px;
  }

  .slider__container {
    height: 650px;
  }

  .about__img {
    width: 320px;
    height: 320px;
    margin-top: 30px;
  }

  .about__img-bg {
    height: 277px;
    width: 277px;
  }

  .clip {
    top: -5%;
    left: 3%;
  }

  .pen {
    top: 13%;
    left: -16%;
    right: 0;
  }

  .footer__container {
    justify-content: center;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__contacts__item {
    text-align: center;
  }

  .footer__list:nth-child(2) {
    display: none;
  }

  .footer__list:nth-child(3) {
    display: none;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .mob-menu__btn {
    width: 25px;
    height: 30px;
  }

  .sync {
    height: 89.8px;
  }

  .slider-article {
    align-items: center;
  }

  .slider-article h1 {
    text-align: center;
  }

  .slider-article p {
    text-align: center;
  }

  .slider__control {
    display: none;
  }

  .calculator__heading h2 {
    text-align: center;
  }

  .calculator__divider {
    display: none;
  }

  .calculator__divider-mob {
    display: block;
  }

  .calculator__content button {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }

  .calculator__form {
    width: 100%;
  }

  .circle__cont {
    top: -3%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .form-tel {
    width: 100%;
  }

  .form-email {
    width: 100%;
  }

  .form__btns {
    display: block;
    height: auto;
  }

  .form__btns button {
    width: 100% !important;
    margin-top: 25px;
  }

  .step3__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__text {
    height: auto;
  }

  .request-dialog__content {
    height: auto;
    width: 94%;
  }

  .request-dialog__btn {
    width: 100%;
  }

  .request-dialog-close {
    left: 86%;
  }

  .capacity-dialog__content {
    width: 94%;
    height: auto;
  }

  .capacity-dialog__form {
    margin-top: 30px;
  }

  .capacity-dialog__input {
    width: 100%;
  }

  .capacity-dialog__btn {
    margin-top: 20px;
  }

  .delivery-slider {
    width: 290px;
  }

  .delivery__card {
    width: 290px;
    max-width: 96%;
  }

  .delivery__controls {
    display: none;
  }

  .service__slider {
    width: 290px;
  }

  .card-conf {
    width: 290px;
  }

  .service__controls {
    display: none;
  }
}

@media (max-width: 500px) {
  .benefit__slider {
    width: 200px;
    overflow: hidden;
  }

  .benefit__article-container {
    display: flex;
    width: 800%;
    column-gap: 0;
    max-width: 100000px;
  }

  .benefit__dots {
    display: flex;
  }
}

@media (max-width: 400px) {
  .coop__btn {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .benefit__dots {
    width: 60%;
    flex-wrap: wrap;
  }

  .cooperating__image {
    height: 200px;
    max-width: 300px;
  }
}


@media (max-height: 700px) {
  .request-dialog__heading p {
    display: none;
  }

  .request-dialog__forms p {
    display: none;
  }

  .request-dialog__btn {
    margin-top: 0;
  }

  .request-dialog-close {
    top: 9%;
    left: 88%;
  }

  .capacity-dialog h3 {
    margin-bottom: 0;
  }

  .capacity-dialog p {
    display: none;
  }

  .capacity-dialog__form {
    margin-top: 20px;
  }

  .dialog-close {
    top: 8%;
    left: 86%;
  }
}
